<div class='row'>
  <div class='span12' style='background: #b90000;'>
    <img class='hide-on-phone' style='float: right; margin-right: 10px; margin-top: 2px; height: 32px; margin-bottom: 2px;' src="images/page_gallery/mra.png" />
    <h1 style='color: white; margin-left: 10px; font-family: Georgia,Times,Serif;'><%= title %></h1>
  </div>
</div>