<div class='row'>
  <div class='span12' style='background: #b90000;'>
    <img class='hide-on-tablet' style='float: right; height: 46px;' src="images/page_gallery/<%= image %>.jpg" />
    <h1 style='color: white; margin: 5px;'><%= title %></h1>
  </div>
</div>