<div class='span3'>

  <div class='row'>
    <div class='span3'>
      <img class='hide-on-tablet' src="images/page_gallery/<%= image %>.jpg" />
    </div>
  </div>

  <%=  yield %>

  <div class='row hide-on-tablet'>
    <div class='span3' style='margin-top: 200px;'>
      <%= raw quote %>
    </div>
  </div>

</div>