<%= render :partial => 'gallery_popup' %>
<%= render :partial => 'gallery_row', :locals => {:images => @images} %>
<%= render :partial => 'title_bar', :locals => {:title => "Bay Area Mountain Rescue Unit"} %>

<div class='row' id='banner-row' style='margin-top: 10px;'>
  <div class='span2' id='bamru-logo' style="text-align: center; margin-top: 10px;">
    <a id='history' href="/about" style='display: inline-block;'><img src='images/Logo_BAMRU.gif'/></a>
  </div>

  <div id='bam-cont' class='span5' style='text-align: right; margin-top: 10px; margin-bottom: 5px;'>
    <strong id='bam-text'>
      BAMRU is a wilderness search and rescue team.<br/>
      Our volunteers specialize in difficult terrain and weather.<br/>
      We are based in the Bay Area and operate across California.<br/>
      Over 40 years, BAMRU has found and saved hundreds of people.
    </strong>
  </div>
  
  <div class='span3 center-on-tablet'>
    <a href="/calendar" class="btn btn-primary" style='width: 120px;'>Attend an Event</a>
    <a href="/join" class="btn btn-primary"   style='width: 120px;'>Join BAMRU</a>
    <a href="/donate" class="btn btn-primary" style='width: 120px;'>Donate to BAMRU</a>
  </div>

  <div class='span2 hide-on-tablet' style="text-align: center;  margin-bottom: 5px;">
    <a id='associates' href="/sarlinks" style='display: inline-block;'><img src='images/logos.jpg'/></a>
  </div>

</div>

<div class='row hide-on-phone'>
  <div class='span12' style='background: #16225e; height: 15px; margin-bottom: 5px;'>
  </div>
</div>

<div class='row'>

  <div class='span12 hide-on-phone'>

    <%= render :partial => 'gallery_row', :locals => {:images => @images.reverse} %>

  </div>

</div>
