<%= render :partial => 'alt_header', :locals => {:title => "Meeting Locations"} %>

<div class='row'>

  <%= render :partial => 'alt_sidebar', :locals => {:image => "operations"} %>

  <%= render :layout => 'alt_body' do %>

    <div class="row">
      <div class='span9'>

        <a name="PeninsulaMeeting"></a>
        <div>PENINSULA MEETING</div>
        
        <b>455 County Center, Redwood City, CA</b>
        County Office Building, Room 101.
        <img alt="Peninsula Meeting Map" 
             src="images/assets/mapredwoodcity2.gif"
             style="border: 0px none; width: 405px;">
        <p></p>

        <a name="EastBayMeeting"></a>
        <div>EAST BAY MEETING</div>
        <b>17930 Lake Chabot Road, Castro Valley</b>
        Follow the driveway at 17930 to the classroom at the top of the hill.
          <img alt="East Bay Meeting Map"
               src="images/assets/mapeastbay.gif"
               style="border: 0px none; width: 405px;">
      </div>
    </div>
  <% end %>
</div>