<%= render :partial => 'alt_header', :locals => {:title => "BAMRU Operations"} %>

<div class='row'>

  <%= render :layout => 'alt_sidebar', :locals => {:image => "operations"} do %>

    <p></p>

    <a href="http://bamru.blogspot.com" class="btn btn-primary">Read the BAMRU Blog</a>

    <% end %>

  <%= render :layout => 'alt_body' do %>

  <div class='row'>
    <div class='span9'>

      Here is our operations map.<br/>

      <iframe width="423" height="350" frameborder="0"
              scrolling="no" marginheight="0" marginwidth="0"
              src="http://maps.google.com/?q=http:%2F%2Fbamru.info%2F<%= @filename %>&amp;ie=UTF8&amp;ll=38.3904,-121.2232&amp;spn=3.855285,0.03265&amp;t=p&amp;output=embed">
      </iframe>

    </div>
  </div>
  <% end %>
</div>